.navbar-login {
    margin-top: -25px;
    margin: 0;
    padding: 0;
}

.navbar-login ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(45, 45, 45);
}

.navbar-login ul li {
    float: left;
}

.navbar-login ul li a {
    color: white;
    display: block;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.float-right {
    float: right;
}