<div class="container m-5">
    <div class="row g-3" style="margin: auto;">
        <div class="col-5"></div>
        <div class="col-5">
            <div class="form-group">
                <form action="" class="shadow py-5 px-4 mb-5 bg-light rounded" name="loginform" #loginForm="ngForm"
                    (ngSubmit)="loginForm.form.valid && onsubmit()">
                    <div>
                        <div class="h5 mb-4 text-center">REGISTER</div>
                    </div>
                    <div class="row g-5">
                        <div class="col-6 form-outline">
                            <input type="text" class="form-control py-2 mb-4" name="fname" id="fname"
                                placeholder="First Name" [(ngModel)]="userdetails.firstName" required>
                        </div>
                        <div class="col-6 form-outline">
                            <input type="text" class="form-control py-2 mb-4" name="lname" id="lname"
                                placeholder="Last Name" [(ngModel)]="userdetails.lastName" required>
                        </div>
                        <div class="col-6 form-outline">
                            <input type="text" class="form-control py-2 mb-4" name="uname" id="uname"
                                placeholder="Username" [(ngModel)]="userdetails.username" required>
                        </div>
                        <div class="col-6 form-outline">
                            <input type="email" class="form-control py-2 mb-4" name="email" id="email"
                                placeholder="email" [(ngModel)]="userdetails.email" required>
                        </div>
                        <div class="col-12 form-outline">
                            <input type="password" class="form-control py-2 mb-4" name="pswd" id="pswd"
                                placeholder="Password" [(ngModel)]="userdetails.password" minlength="8" required>
                        </div>
                        <div class="col-12 form-outline">
                            <input type="password" class="form-control py-2 mb-4" name="repswd" id="repswd"
                                placeholder="Re-enter Password" minlength="8" required>
                        </div>
                        <div class="col-12 text-center">
                            <input type="submit" value="Login" class="btn btn-primary mb-4 py-2 px-5">
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-5"></div>
        </div>
    </div>
</div>