.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    text-align: center;
}

.heading {
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
    border-radius: 5px;
    margin: auto;
    padding: 15px 50px;
}


.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    margin: 10px 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: lightgray;
    background-clip: border-box;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 5px;
}

.col {
    flex: 0 0 auto;
    width: 50%;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin: inherit;
}

.text-danger {
    color: rgb(236, 58, 58);
    margin-bottom: 5px;
}

.text-warning {
    color: rgb(246, 201, 54);
}

.btn {
    margin: 10px 20px;
    padding: 15px 50px;
    background-color: rgb(34, 33, 33);
    color: white;
    border-radius: 5px;
}

.btn:hover {
    color: black;
    background-color: rgb(190, 190, 190);
    border: 1px solid black;
}

.highlighted {
    box-shadow: 0px 0px 10px;
}

.table {
    border-collapse: collapse;
}

.table td,
.table th {
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.d-flex .table {
    padding: 50px;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2f2f2f;
    color: white;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.search-box {
    width: 50%;
    float: left;
    text-align: right;
}

.input-search {
    margin: 16px 4px;
    padding: 12px 16px;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}

.input-search:hover {
    border-color: rgb(108, 108, 236);
}

.input-search:focus {
    border: 2px solid blue;
}

.select-pagelimit {
    margin: 16px 4px;
    padding: 12px 16px;
    width: 40%;
    box-sizing: border-box;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
}

.pagebtn {
    display: inline-block;
    margin: 12px 8px;
    padding: 12px 16px;
    box-sizing: border-box;
    background-color: rgb(144, 188, 255);
    border: none;
    border-radius: 5px;
}

.controlbtn {
    display: inline-block;
    margin: 12px 8px;
    padding: 12px 16px;
    box-sizing: border-box;
    background-color: rgb(64, 64, 64);
    border-radius: 5px;
    border: none;
    color: white
}

.active {
    background-color: rgb(189, 189, 189);
    border: 1px solid;
}